#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "QWERTY";
            bindings = <
&kp TAB           &kp Q  &kp W  &kp E     &kp R         &kp T                            &kp Y       &kp U          &kp I      &kp O    &kp P      &kp ESCAPE
&kp LSHFT         &kp A  &kp S  &kp D     &kp F         &kp G                            &kp H       &kp J          &kp K      &kp L    &kp W      &kp RSHFT
&kp LEFT_CONTROL  &kp Z  &kp X  &kp C     &kp V         &kp B                            &kp N       &kp M          &kp COMMA  &kp DOT  &kp MINUS  &kp SQT
                                &kp LALT  &kp LEFT_WIN  &kp SPACE  &kp C_MUTE  &kp C_PP  &kp RETURN  &kp BACKSPACE  &kp RALT
            >;

            sensor-bindings =
                <&inc_dec_kp C_VOLUME_DOWN C_VOLUME_UP>,
                <&inc_dec_kp PG_DN PG_UP>;
        };
    };
};
